[submodule "config/git/gitalias"]
	path = config/git/gitalias
	url = git@github.com:cdprice02/gitalias.git
[submodule "config/claude"]
	path = config/claude
	url = git@github.com:cdprice02/claude-config.git
[submodule "config/copilot"]
	path = config/copilot
	url = git@github.com:cdprice02/copilot-config.git
